
<ul>
	<% friendsBooks.forEach(function(knjiga) { %> 
		<li><%= knjiga.naziv %></li> <!--/knjiga?naziv=asd-->
	<% }) %>
</ul>
<ul>
	<% myGenreBooks.forEach(function(knjiga) { %> 
		<li><%= knjiga.naziv %></li> <!--/knjiga?naziv=asd-->
	<% }) %>
</ul>