<form method="POST" action="/login">
    <label>LOGIN</label><br><br>
    <label>username:</label><br>
    <input type="text" name="username"><br>
    <label>password:</label><br>
    <input type="password" name="password"><br>
    <input type="submit" name="login" title="login">
</form>