<div fxFlex class="main-content">
  <app-search></app-search>
  <div class="best_rated" *ngIf="auth.isLogged">
    <div>
      <h4>Knjige Zanrova koje ja citam</h4>
    </div>
    <div class='booksDiv'>
      <div class='single-book' *ngFor="let knjiga of mygenresbooks">
        <img src='{{knjiga.urlSlike}}' width="100px" height="100px">
        <p>{{knjiga.naziv}}</p>
        <span><button mat-button color='primary' (click)="openBookInfo(knjiga.naziv)" > View Book</button></span>
      </div>
    </div>
  </div>
  <div class="best_rated" *ngIf="auth.isLogged">
    <div>
      <h4>Knjige koje su prijatelji ocenili</h4>
    </div>
    <div class='booksDiv'>
      <div class='single-book' *ngFor="let knjiga of friends_books">
        <p>{{knjiga.ime}} {{knjiga.prezime}}</p>
        <img src='{{knjiga.urlSlike}}' width="100px" height="100px">
        <p>{{knjiga.naziv}}</p>
        <span><button mat-button color='primary' (click)="openBookInfo(knjiga.naziv)" > View Book</button></span>
      </div>
    </div>
  </div>
  <app-best-rated-books></app-best-rated-books>
</div>
