<div class="loginForm" fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-line> Dobrodosli u Biblioteku</h1>
  <h2 mat-line>Unesite svoje podatke</h2>
  <form (ngSubmit)="loginReq()" >
    <mat-form-field  appearance='outline' fxLayout="row" fxLayoutAlign="center start" class="line">
        <mat-label>Username</mat-label>
        <input matInput name='username' [(ngModel)]='username' placeholder="username" required autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance='outline' fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
        <mat-label>Password</mat-label>
      <input matInput name="password"  [(ngModel)]='password' placeholder="password" fxLayoutAlign="center start" required autocomplete="off">
    </mat-form-field>
    <button mat-raised-button primary fxLayoutAlign="center start" type="submit">Login</button>
  </form>
  <mat-error>{{authService.error_msg}}</mat-error>
</div>
